@import "colors";
@import "navbar";
@import "hero";

.primary-color {
    color: $primary;
}

.secondary-color {
    background-color: $secondary;
}

.purple-color {
    background-color: $light-purple;
}

.green-color {
    color: $dark-green;
}

.navy-color {
    color: $secondary;
}